<footer class="styloo-footer">
    <div class="footer-box">

        <h2 class="footer-title">Styloo</h2>
        <p class="footer-tagline">Designed for players. Loved by fans</p>

        <hr class="footer-line">

        <div class="footer-flex">

            <!-- Address Section -->
            <div class="footer-left">
                <p><i class="bi bi-geo-alt-fill"></i> 24/7 Vp Road</p>
                <p>Madiwala, Bangalore - 560068</p>
                <p>Karnataka, India</p>

                <p><i class="bi bi-telephone-fill"></i> +91 95003 11001</p>
                <p><i class="bi bi-envelope-fill"></i> support@styloo.com</p>
            </div>

            <!-- Icons -->
            <div class="footer-right">

                <a href="" target="_blank">
                    <i class="bi bi-facebook"></i>
                </a>

                <a href="" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>

                <a href="" target="_blank">
                    <i class="bi bi-whatsapp"></i>
                </a>

                <a href="" target="_blank">
                    <i class="bi bi-youtube"></i>
                </a>

            </div>

        </div>
    </div>

    <p class="footer-copy">© 2026 Styloo. All Rights Reserved.</p>
</footer>
