{% extends 'base/base.html' %}

{% block title %}
Product Details 
{% endblock %}

{% block content %}

<section class="d-flex row">
    <div class="col">
        <img src="{{product.thumbnail.url}}" class="w-100 h-100" alt="" >
    </div>
    <div class="col">
    <p><h2>{{product.title}}</h2></p>
    <p>{{product.desc}}</p>
    <p>Rs.{{product.price}}</p>
    <div class="d-flex flex-row">
        <a href="" class="btn btn-outline-primary"> Add to Cart</a>
        <a href="{% url 'edit_product' product.pk %}" class="btn btn-warning" style="margin: auto 10px;">Edit</a>
        <a href="{% url 'delete_product' product.pk %}" class="btn btn-danger">Delete</a>
    </div> </div>
</section>
{% endblock %}